<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.urun.mapper.ProductionMapper">
    <!--  생산작업관리 조회  -->
    <select id="getProcessList" resultType="kr.co.urun.dto.ProductionDTO">
        SELECT  p.PROCESS_Status,
                i.ITEM_NAME,
                p.PROCESS_ID,
                p.PROCESS_ITEM_ID,
                p.PROCESS_Plan_Quantity,
                p.PROCESS_LINE ,
                <!-- PROCESS_ID 의 (총 생산수, 총 불량수, 불량률) -->
                SUM(w.WORK_Item_Quantity) as WORK_Item_Quantity,
                SUM(w.WORK_Defective_Quantity) as WORK_Defective_Quantity,
                round(NVL(SUM(w.WORK_Defective_Quantity)/DECODE(SUM(w.WORK_Item_Quantity), 0, null, SUM(w.WORK_Item_Quantity)), 0),3) AS PROCESS_defect_rate,
                <!-- 생산시작날짜, 종료날짜 -->
                to_char(p.PROCESS_START_DATE,'yyyy-mm-dd') as PROCESS_START_DATE,
                to_char(p.PROCESS_END_DATE,'yyyy-mm-dd') as PROCESS_END_DATE
        FROM    PROCESS p, WORK w, ITEM i
        WHERE   p.PROCESS_ID = w.WORK_PROCESS_ID(+)
            AND p.PROCESS_ITEM_ID = i.ITEM_ID
        GROUP BY w.WORK_PROCESS_ID,
                 p.PROCESS_Status,
                 i.ITEM_NAME,
                 p.PROCESS_ITEM_ID,
                 p.PROCESS_ID,
                 p.PROCESS_LINE,
                 p.PROCESS_Plan_Quantity,
                 p.PROCESS_START_DATE,
                 p.PROCESS_END_DATE
        HAVING  1=1
        <!-- 제품이름검색 -->
        <if test="search_ITEM_NAME != null and search_ITEM_NAME != '' ">
            AND UPPER(ITEM_NAME) LIKE '%' || UPPER(#{search_ITEM_NAME}) || '%'
        </if>
        <!-- 제품코드검색 -->
        <if test="search_ITEM_ID != null and search_ITEM_ID != '' ">
            AND UPPER(PROCESS_ITEM_ID) LIKE '%' || UPPER(#{search_ITEM_ID}) || '%'
        </if>
        <!-- 생산시작날짜검색 -->
        <if test="search_START_DATE1 != null and search_START_DATE1 != ''
              and search_START_DATE2 != null and search_START_DATE2 != ''">
            AND PROCESS_START_DATE BETWEEN TO_DATE(#{search_START_DATE1}, 'yyyy-mm-dd')
                    AND TO_DATE(#{search_START_DATE2}, 'yyyy-mm-dd')
        </if>
        <!-- 생산종료날짜검색 -->
        <if test="search_END_DATE1 != null and search_END_DATE1 != ''
              and search_END_DATE2 != null and search_END_DATE2 != ''">
            AND PROCESS_END_DATE BETWEEN TO_DATE(#{search_END_DATE1}, 'yyyy-mm-dd')
                    AND TO_DATE(#{search_END_DATE2}, 'yyyy-mm-dd')
        </if>
        ORDER BY p.PROCESS_ID DESC
    </select>

    <!--  생산계획수정  -->
    <update id="ProcessUpdate">
        UPDATE PROCESS
        SET PROCESS_Status = #{PROCESS_Status},
            PROCESS_END_DATE = to_date( #{PROCESS_END_DATE},'YYYY-MM-DD HH24:MI:SS')
        WHERE PROCESS_ID = #{PROCESS_ID}
    </update>

    <!--  당일작업등록  -->
    <insert id="WorkInsert">
        INSERT INTO WORK (  WORK_PROCESS_ID,
                            WORK_Plan_Quantity,
                            WORK_ITEM_Quantity,
                            WORK_Defective_Quantity,
                            WORK_Defective_Reason )
        VALUES (${PROCESS_ID_2}, #{WORK_Plan_Quantity_2}, #{WORK_ITEM_Quantity_2}, #{WORK_Defective_Quantity_2}, #{WORK_Defective_Reason_2})
    </insert>
    <insert id="WInventoryInsert">
        INSERT INTO INVENTORY (INVENTORY_ITEM_ID, INVENTORY_WORK_ID, INVENTORY_Quantity)
        SELECT p.PROCESS_ITEM_ID, w.WORK_ID, w.WORK_ITEM_Quantity
        FROM WORK w
        INNER JOIN PROCESS p
            ON w.WORK_PROCESS_ID = p.PROCESS_ID
        WHERE w.WORK_Plan_Quantity = #{WORK_Plan_Quantity_2}
            AND w.WORK_ITEM_Quantity = #{WORK_ITEM_Quantity_2}
            AND w.WORK_Defective_Quantity = #{WORK_Defective_Quantity_2}
            AND w.WORK_Defective_Reason = #{WORK_Defective_Reason_2}
    </insert>
    <update id="WorkUpdate">
        UPDATE WORK
        SET WORK_INVENTORY_ID = (SELECT i.INVENTORY_ID
                                FROM WORK w, INVENTORY i
                                WHERE w.WORK_ID =  i.INVENTORY_WORK_ID
                                    AND w.WORK_Plan_Quantity = #{WORK_Plan_Quantity_2}
                                    AND w.WORK_ITEM_Quantity = #{WORK_ITEM_Quantity_2}
                                    AND w.WORK_Defective_Quantity = #{WORK_Defective_Quantity_2}
                                    AND w.WORK_Defective_Reason = #{WORK_Defective_Reason_2})
        WHERE WORK_Plan_Quantity = #{WORK_Plan_Quantity_2}
            AND WORK_ITEM_Quantity = #{WORK_ITEM_Quantity_2}
            AND WORK_Defective_Quantity = #{WORK_Defective_Quantity_2}
            AND WORK_Defective_Reason = #{WORK_Defective_Reason_2}
    </update>

    <!--  생산계획등록  -->
    <insert id="ProcessInsert">
        INSERT INTO PROCESS( PROCESS_ITEM_ID, PROCESS_Plan_Quantity, PROCESS_START_DATE, PROCESS_LINE)
        VALUES (#{PROCESS_ITEM_ID_1}, #{PROCESS_Plan_Quantity_1}, to_date(#{PROCESS_START_DATE_1},'YYYY-MM-DD'), #{PROCESS_LINE_1})
    </insert>


    <!--  생산 불량 현황 조회  -->
    <select id="getStatusList" resultType="kr.co.urun.dto.ProductionDTO">
        SELECT  p.PROCESS_Status,
                i.ITEM_NAME,
                p.PROCESS_ITEM_ID,
                p.PROCESS_Plan_Quantity,
                <!-- PROCESS_ID 의 (총 생산수, 총 불량수, 불량률) -->
                SUM(w.WORK_Item_Quantity) as WORK_Item_Quantity,
                SUM(w.WORK_Defective_Quantity) as WORK_Defective_Quantity,
                round(NVL(SUM(w.WORK_Defective_Quantity)/DECODE(SUM(w.WORK_Item_Quantity), 0, null, SUM(w.WORK_Item_Quantity)), 0),3) AS PROCESS_defect_rate,
                <!-- 생산시작날짜, 종료날짜 -->
                to_char(p.PROCESS_START_DATE,'yyyy-mm-dd') as PROCESS_START_DATE,
                to_char(p.PROCESS_END_DATE,'yyyy-mm-dd') as PROCESS_END_DATE
        FROM    PROCESS p, WORK w, ITEM i
        WHERE   p.PROCESS_ID = w.WORK_PROCESS_ID(+)
            AND p.PROCESS_ITEM_ID = i.ITEM_ID
        GROUP BY    w.WORK_PROCESS_ID, p.PROCESS_Status, i.ITEM_NAME, p.PROCESS_ITEM_ID, p.PROCESS_ID,
                    p.PROCESS_Plan_Quantity, p.PROCESS_START_DATE, p.PROCESS_END_DATE
        HAVING 1=1
        <!-- 제품이름검색 -->
        <if test="search_ITEM_NAME != null and search_ITEM_NAME != '' ">
            AND UPPER(ITEM_NAME) LIKE '%' || UPPER(#{search_ITEM_NAME}) || '%'
        </if>
        <!-- 제품코드검색 -->
        <if test="search_ITEM_ID != null and search_ITEM_ID != '' ">
            AND PROCESS_ITEM_ID LIKE '%' || #{search_ITEM_ID} || '%'
        </if>
        <!-- 생산시작날짜검색 -->
        <if test="search_START_DATE1 != null and search_START_DATE1 != ''
              and search_START_DATE2 != null and search_START_DATE2 != ''">
            AND PROCESS_START_DATE BETWEEN TO_DATE(#{search_START_DATE1}, 'yyyy-mm-dd')
                    AND TO_DATE(#{search_START_DATE2}, 'yyyy-mm-dd')
        </if>
        <!-- 생산종료날짜검색 -->
        <if test="search_END_DATE1 != null and search_END_DATE1 != ''
              and search_END_DATE2 != null and search_END_DATE2 != ''">
            AND PROCESS_END_DATE BETWEEN TO_DATE(#{search_END_DATE1}, 'yyyy-mm-dd')
                    AND TO_DATE(#{search_END_DATE2}, 'yyyy-mm-dd')
        </if>
        ORDER BY p.PROCESS_ID DESC

    </select>
</mapper>